.modal {
    position: fixed;
    width: 100%;
    height: 100%;
}

.signupForm {
    background-color: white;
    color: black;
    padding: 20px;
    max-width: 700px;
    max-height: 100%;
    margin: 3% auto 3% auto;
}

.signinForm {
    background-color: white;
    color: black;
    padding: 20px;
    max-width: 500px;
    max-height: 100%;
    margin: 3% auto 3% auto;
}

.signupFormElement {
    margin: 20px;
}

.signinFormElement {
    margin: 20px;
}

#signupFormbtn {
    margin: 10px;
    text-align: center;
}
#signinFormbtn {
    margin: 10px;
    text-align: center;
}
#signinFormTitle {
    text-align: center;
}

#signupFormTitle {
    text-align: center;
}

#signinFormWelcome {
    text-align: center;
}
#signupFormWelcome {
    text-align: center;
}

.navbtn {
    border: none;
}


.footer-top {
    padding: 60px 0;
    background: #343a40;
    text-align: right;
    color: #aaa;

}

.footer-top h3 {
    padding-bottom: 10px;
    color: #fff;
}

.footer-about img.logo-footer {
    max-width: 74px;
    margin-top: 0;
    margin-bottom: 18px;
}

.footer-about p a {
    color: white;
    border: 0;
}




.footer-about p a:hover,
.footer-about p a:focus {
    border: 0;
}


.footer-contact i {
    font-size: 18px;
    color: #666;
}

.footer-contact p a {
    color: white;
    border: 0;
}

.footer-contact p a:hover,
.footer-contact p a:focus {
    border: 0;
}


.footer-links a {
    color: #aaa;
    border: 0;
}

.footer-links a:hover,
.footer-links a:focus {
    color: #fff;
}

.footer-bottom {
    padding: 15px 0 17px 0;
    background: #2e3338;
    color: #aaa;
}

.footer-bottom a {
    color: white;
}


.footer-copyright {
    padding-top: 5px;
    text-align: center;
}

.footer-copyright a {
    color: #fff;
    border: 0;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
    color: #aaa;
    border: 0;
}
